<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Form</title>
</head>
<body>
    <h1>Text Input Form</h1>
    <form action="/sandBox/FrontEnd_BackEnd_example/submit" method="POST">
        <label for="textInput">Enter your text:</label>
        <input type="text" id="textInput" placeholder="input text" name="textInput" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
