<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Interface</title>
    <style>
        .RESTAURANT_1{
            color: white;
            text-align: left;
            padding: 20px;
            background-color: #043e3e;
        }
        .RESTAURANT_2{
            color: white;
            text-align: center;
            padding: 20px;
            background-color: #043e3e;
        }
        .RESTAURANT_3{
            color: white;
            text-align: right;
            padding: 20px;
            background-color: #043e3e;
        }
    </style>
</head>
<body>
    <div class="RESTAURANT_1">
        <h1>RESTAURANT#1</h1>
        <input type="text" name="name" placeholder="Restaurant Name" required>
    </div>
    <div class="RESTAURANT_2">
        <h1>RESTAURANT#2</h1>
        <input type="text" name="name" placeholder="Restaurant Name" required>
    </div>
    <div class="RESTAURANT_3">
        <h1>RESTAURANT#3</h1>
        <input type="text" name="name" placeholder="Restaurant Name" required>
    </div>
</body>
</html>